<p>rxjsconcept works!</p>




<div class="accordion" id="demoAccordion">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button
        class="accordion-button"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#collapseOne"
        aria-expanded="true"
        aria-controls="collapseOne"
      >
        1. why do we need rxjs
      </button>
    </h2>
    <div
      id="collapseOne"
      class="accordion-collapse collapse show"
      aria-labelledby="headingOne"
      data-bs-parent="#demoAccordion"
    >
      <div class="accordion-body">
       hendel asychronus data streem 
      </div>
    </div>
  </div>



  <div class="accordion-item">
    <h2 class="accordion-header" id="headingThree">
      <button
        class="accordion-button collapsed"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#collapseThree"
        aria-expanded="false"
        aria-controls="collapseThree"
      >
        3. Filtering Operators
      </button>
    </h2>
    <div
      id="collapseThree"
      class="accordion-collapse collapse"
      aria-labelledby="headingThree"
      data-bs-parent="#demoAccordion"
    >
      <div class="accordion-body">
        <ul>
          <li>filter</li>
          <li>take</li>
          <li>takeUntil</li>
          <li>takeWhile</li>
          <li>skip</li>
          <li>skipUntil</li>
          <li>skipWhile</li>
          <li>distinct</li>
          <li>distinctUntilChanged</li>
          <li>distinctUntilKeyChanged</li>
          <li>first</li>
          <li>last</li>
          <li>single</li>
          <li>debounce</li>
          <li>debounceTime</li>
          <li>throttle</li>
          <li>throttleTime</li>
          <li>audit</li>
          <li>auditTime</li>
          <li>sample</li>
          <li>sampleTime</li>
          <li>elementAt</li>
          <li>ignoreElements</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header" id="headingFour">
      <button
        class="accordion-button collapsed"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#collapseFour"
        aria-expanded="false"
        aria-controls="collapseFour"
      >
        4. Combination Operators
      </button>
    </h2>
    <div
      id="collapseFour"
      class="accordion-collapse collapse"
      aria-labelledby="headingFour"
      data-bs-parent="#demoAccordion"
    >
      <div class="accordion-body">
        <ul>
          <li>combineLatest</li>
          <li>combineLatestWith</li>
          <li>concat</li>
          <li>concatWith</li>
          <li>forkJoin</li>
          <li>merge</li>
          <li>mergeWith</li>
          <li>race</li>
          <li>zip</li>
          <li>zipWith</li>
          <li>startWith</li>
          <li>withLatestFrom</li>
          <li>endWith</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header" id="headingFive">
      <button
        class="accordion-button collapsed"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#collapseFive"
        aria-expanded="false"
        aria-controls="collapseFive"
      >
        5. Multicasting / Sharing Operators
      </button>
    </h2>
    <div
      id="collapseFive"
      class="accordion-collapse collapse"
      aria-labelledby="headingFive"
      data-bs-parent="#demoAccordion"
    >
      <div class="accordion-body">
        <ul>
          <li>share</li>
          <li>shareReplay</li>
          <li>publish</li>
          <li>publishReplay</li>
          <li>publishBehavior</li>
          <li>publishLast</li>
          <li>refCount</li>
          <li>connect</li>
          <li>multicast</li>
          <li>connectable</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header" id="headingSix">
      <button
        class="accordion-button collapsed"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#collapseSix"
        aria-expanded="false"
        aria-controls="collapseSix"
      >
        6. Error Handling Operators
      </button>
    </h2>
    <div
      id="collapseSix"
      class="accordion-collapse collapse"
      aria-labelledby="headingSix"
      data-bs-parent="#demoAccordion"
    >
      <div class="accordion-body">
        <ul>
          <li>catchError</li>
          <li>retry</li>
          <li>retryWhen</li>
          <li>onErrorResumeNext</li>
          <li>throwError</li>
          <li>throwIfEmpty</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header" id="headingSeven">
      <button
        class="accordion-button collapsed"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#collapseSeven"
        aria-expanded="false"
        aria-controls="collapseSeven"
      >
        7. Utility Operators
      </button>
    </h2>
    <div
      id="collapseSeven"
      class="accordion-collapse collapse"
      aria-labelledby="headingSeven"
      data-bs-parent="#demoAccordion"
    >
      <div class="accordion-body">
        <ul>
          <li>tap</li>
          <li>delay</li>
          <li>timeout</li>
          <li>delayWhen</li>
          <li>finalize</li>
          <li>timeoutWith</li>
          <li>toArray</li>
          <li>forEach</li>
          <li>materialize</li>
          <li>dematerialize</li>
          <li>timestamp</li>
          <li>timeInterval</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header" id="headingEight">
      <button
        class="accordion-button collapsed"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#collapseEight"
        aria-expanded="false"
        aria-controls="collapseEight"
      >
        8. Conditional & Boolean Operators
      </button>
    </h2>
    <div
      id="collapseEight"
      class="accordion-collapse collapse"
      aria-labelledby="headingEight"
      data-bs-parent="#demoAccordion"
    >
      <div class="accordion-body">
        <ul>
          <li>defaultIfEmpty</li>
          <li>every</li>
          <li>find</li>
          <li>findIndex</li>
          <li>isEmpty</li>
          <li>sequenceEqual</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header" id="headingNine">
      <button
        class="accordion-button collapsed"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#collapseNine"
        aria-expanded="false"
        aria-controls="collapseNine"
      >
        9. Mathematical / Aggregation Operators
      </button>
    </h2>
    <div
      id="collapseNine"
      class="accordion-collapse collapse"
      aria-labelledby="headingNine"
      data-bs-parent="#demoAccordion"
    >
      <div class="accordion-body">
        <ul>
          <li>count</li>
          <li>max</li>
          <li>min</li>
          <li>reduce</li>
          <li>scan</li>
        </ul>
      </div>
    </div>
  </div>
</div>
